.shop-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 20px auto;
}
.card-container {
    border-right: 1px solid #345b6363;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 30px;
}

/* @media only screen 
  and (min-width: 768px) 
  and (max-width: 960px) {
    .shop-container {
        grid-template-columns: 1fr;
    }
    .card-container {
        grid-template-columns: 1fr;
    }
    .cart-container {
        padding:20px;
    }
    .card-data {
        margin-right: 0px;
    }
} */

@media only screen 
  and (min-width: 375px) 
  and (max-width: 667px) { 
    .shop-container {
        grid-template-columns: 1fr;
    }
    .card-container {
        grid-template-columns: 1fr;
    }
    .cart-data {
        margin-left:0px;
    }
    .cart-container {
        padding:20px;
    }
}