.card {
    background-color: whitesmoke;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 2px #345b6333;
   }
.card:hover {
    background-color: rgba(245, 245, 245, 0.767);
    box-shadow: 0px 0px 3px 4px #345b6333;
    transition: .3s;
}
.card-img {
    height: 200px;
    background-color: blueviolet;
    overflow: hidden;
}
.card-img img {
    width: 100%;
    object-fit: cover;
    height: 200px;
    transition: .3s;
}
.card:hover .card-img img {
    transform: scale(1.1);
    transition: .3s;
}
.card-data {
    font-size: 1rem;
    padding-bottom: 20px;
}
.card-data h2 {
    margin-bottom: 0px;
}
.card-data button {
   background-color: #345b63;
   color:white;
   padding: 10px 10px;
   display: inline;
   border:none;
   font-size: 16px;
   cursor: pointer;
   border-radius: 1px;
   transition: .3s;
}
.card-data button:hover {
   color: #345b63;
   background-color:white;
   box-shadow: 0 0 2px 2px #345b63;
   transition: .3s;
}